body {
    height: 100%;
}

body > header {
  display: flex;
  justify-content: space-between;
}

body > .body1 {
    border: ridge;
    text-align: center;
    max-width: 750px;
    padding: 1em;
    margin: 0 auto;
}

body > footer {
    text-align: center;
}

header > menu {

}

header > links {

}

.body1 main {
    margin: auto;
    flex: 1 0 auto;
    /*padding: 25px;
    max-width: 750px;*/
}

.body1 aside {
    filter: sepia(100%);
    max-width: 20%;
    min-width: 100px;

}

main nav {

}

main article {
    text-align: start;

}

main summary {
    text-align: start;
}

nav frontmatter {

}

nav toc {
    text-align: start;

}
/*
article>tabs {

}

article>section {

}
